* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.54;
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

#header {
  height: 100vh;
  background-color: lightskyblue;
}

#title {
  color: darkcyan;
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-style: italic;
}

#header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.awan1 {
  padding-top: 15px;
  margin-left: 70%;
}

.awan2 {
  margin-right: 70%;
}

.mount {
  position: relative;
  margin-bottom: 40px;
}

.fs {
  text-decoration: underline;
}

.aing {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

#intro {
  text-align: center;
  width: 100%;
  padding: 7rem 0.1rem;
}

.obskils {
  padding: 3%;
  width: 40%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.obs {
  float: left;
}

.subj,
.txt {
  text-align: left;
}

.subj {
  color: darkcyan;
}

.txt {
  color: grey;
}

.btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  margin-top: 4rem;
  text-align: center;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
  background-color: lightskyblue;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
}

.btn:hover {
  background-color: darkcyan;
}

#main-footer {
  padding: 1rem;
  background-color: darkcyan;
  color: #fff;
}

.social > a {
  display: block;
  margin: 1rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  color: lightskyblue;
  margin: 1rem 2rem;
  font-weight: bolder;
  transition: transform 0.5s;
}
